# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

In [44]:
# Exercise 1
x = range(1, 11)
print(list(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [7]:
# Exercise 2
y = ("apple", "banana", "cherry")
print(tuple(y))

('apple', 'banana', 'cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [13]:
# Exercise 3
num =[10, 20, 30, 40]
print(tuple(num))

(10, 20, 30, 40)


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [14]:
# Exercise 4
elem = range(1, 6)
print(set(elem))

{1, 2, 3, 4, 5}


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [9]:
# Exercise 5
student = {"name": "Alice",
           "age": 20,
           "grade": "A"
           
}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [32]:
# Exercise 6
x = [10, 20, 30, 40, 50]
print(x[1])

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [28]:
# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits [2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [38]:
# Exercise 8
num = {1, 2, 3, 4, 5}
num.add(6)
print(num)

{1, 2, 3, 4, 5, 6}


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [40]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [43]:
# Exercise 10
x = range(10)
print(list(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [45]:
# Exercise 11
square = [x**2 for x in range(1, 11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [49]:
# Exercise 12
even_num = tuple(x for x in range(2, 11, 2))
print(even_num)

(2, 4, 6, 8, 10)


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [53]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]

for fruits in fruits:
 print(fruits)

apple
banana
cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [56]:
# Exercise 14
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print("the value is exists")
else:
    print("the value is not exist in the set")

the value is exists


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [64]:
# Exercise 15
numbers = (10, 20, 30)
length = len(numbers)
print(length)

3


---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [67]:
# Exercise 16
scores = [80, 85, 90, 95]
scores.insert(4, 100)
print(scores)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [123]:
# Exercise 17
# Define the function first
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
#calling function
my_list = [1, 2, 3, 4, 5]
result = sum_list(my_list)
print(result)

15


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [89]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = set(numbers)
print(unique)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [91]:
# Exercise 19
str = "Hello"
char_list = list(str)
print(char_list)

['H', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [94]:
# Exercise 20
def reversed_tuple(y):
    return y [:: -1]
my_tuple = (1, 2, 3, 4)
reversed = reverse_tuple(my_tuple)
print(reversed)

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [96]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged = dict1 | dict2
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [102]:
# Exercise 22
square = {x: x**2 for x in range (1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [111]:
# Exercise 23
dict = {"name": "UWASE", "age": 25, "gender": "FEMALE"}
for key, value in dict.items():
      print(f"{key}:{value}")

name:UWASE
age:25
gender:FEMALE


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [119]:
# Exercise 24
letters = (chr(97), chr(98), chr(99), chr(100), chr(101))
print(list(letters))

['a', 'b', 'c', 'd', 'e']


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [126]:
# Exercise 25
list1 = [1, 2, 3]
list2 = ["a","b","c"]
combine = list(zip(list1, list2))
print(combine)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [130]:
# Exercise 26
my_liste = [10, 20, 30, 40, 50]
findy = my_liste.index(50)
print(findy)

4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [145]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [3]:
# Exercise 28
def find_largest_number(numbers):
        return max(numbers)  
my_list = [4, 15, 23, 8, 42, 16]
print(find_largest_number(my_list))  # Output: 42

42


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [4]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")
print(apple_count)

2


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [5]:
# Exercise 30
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Access the value of the "city" key
print(person["city"])

New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [8]:
# Exercise 31
def remove_duplicates(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

print(remove_duplicates(my_list))

[1, 2, 3, 4, 5]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [9]:
# Exercise 32
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
print(list_intersection(a, b))

[3, 4]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [10]:
# Exercise 33
def square_generator():
    for i in range(1, 11):
        yield i * i
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [11]:
# Exercise 34
def sum_dict_values(input_dict):
    return sum(input_dict.values())
my_dict = {"a": 10, "b": 20, "c": 30}
print(sum_dict_values(my_dict))  # Output: 60

60


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [12]:
# Exercise 35
numbers = [3, 1, 4, 8, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 3, 4, 5, 8, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [13]:
# Exercise 36
def longest_string(strings):
    if not strings:
        return None  # Handle empty list
    longest = strings[0]
    for s in strings:
        if len(s) > len(longest):
            longest = s
    return longest
words = ["apple", "banana", "cherry", "date"]
print(longest_string(words))  # Output: banana

banana


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [14]:
# Exercise 37
numbers = [1, 2, 3, 4, 5]
result = all(num > 0 for num in numbers)
print(result)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [15]:
# Exercise 38
result = [(i, i**2) for i in range(1, 6)]
print(result)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [16]:
# Exercise 39
def get_second_elements(tuple_list):
    return [t[1] for t in tuple_list]
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
print(get_second_elements(tuples))  # Output: ['a', 'b', 'c']

['a', 'b', 'c']


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [17]:
# Exercise 40
def flatten_list(list_of_lists):
    return [item for sublist in list_of_lists for item in sublist]

nested_list = [[1, 2], [3, 4], [5]]
print(flatten_list(nested_list))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [18]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [20]:
# Exercise 42
def is_tuple_empty(t):
    return len(t) == 0

# Example usage
my_tuple = ()
print(is_tuple_empty(my_tuple))  # Output: True

True


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [21]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [22]:
# Exercise 44
def reverse_list(numbers):
    return numbers[::-1]
my_list = [1, 2, 3, 4, 5]
print(reverse_list(my_list))  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [23]:
# Exercise 45
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [24]:
# Exercise 46
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [25]:
# Exercise 47
def get_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]

data = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie"}
]

print(get_values(data, "age"))  # Output: [25, 30]

[25, 30]


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [26]:
# Exercise 48
def fibonacci_generator(n):
    a, b = 0, 1
    count = 0
    while count < n:
        yield a
        a, b = b, a + b
        count += 1

for num in fibonacci_generator(10):
    print(num)

0
1
1
2
3
5
8
13
21
34


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [27]:
# Exercise 49
def unique_characters(s):
    unique_chars = []
    for char in s:
        if char not in unique_chars:
            unique_chars.append(char)
    return unique_chars

text = "hello world"
print(unique_characters(text))

['h', 'e', 'l', 'o', ' ', 'w', 'r', 'd']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [28]:
# Exercise 50
def merge_sorted_lists(list1, list2):
    merged = []
    i, j = 0, 0
    
    # Traverse both lists and append smaller element to merged
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1
    
    # Append remaining elements (if any) from list1
    while i < len(list1):
        merged.append(list1[i])
        i += 1
    
    # Append remaining elements (if any) from list2
    while j < len(list2):
        merged.append(list2[j])
        j += 1
    
    return merged

a = [1, 3, 5]
b = [2, 4, 6]
print(merge_sorted_lists(a, b))

[1, 2, 3, 4, 5, 6]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [29]:
# Exercise 51
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [30]:
# Exercise 52
tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)
print(result_dict)

{1: 2, 3: 4, 5: 6}


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [31]:
# Exercise 53
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

a = {1, 2, 3}
b = {2, 3, 4}
print(symmetric_difference(a, b))

{1, 4}


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [32]:
# Exercise 54
list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [3, 2, 7, 8]

common_elements = list(set(list1) & set(list2) & set(list3))
print(common_elements)

[2, 3]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [33]:
# Exercise 55
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))  # Output: 120

120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [34]:
# Exercise 56
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit != ""]
print(filtered_fruits)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [35]:
# Exercise 57
def swap_dict_keys_values(d):
    return {value: key for key, value in d.items()}

original = {'a': 1, 'b': 2, 'c': 3}
swapped = swap_dict_keys_values(original)
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [36]:
# Exercise 58
def filter_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

my_list = [1, 2, 3, 4, 5, 6]
print(filter_even_numbers(my_list))  # Output: [2, 4, 6]

[2, 4, 6]


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [37]:
# Exercise 59
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]

tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
print(get_first_elements(tuples))  # Output: [1, 2, 3]

[1, 2, 3]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [38]:
# Exercise 60
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(my_list))

[1, 2, 3, 4, 5]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [39]:
# Exercise 61
strings = ["apple", "banana", "cherry"]
lengths = list(map(len, strings))
print(lengths)

[5, 6, 6]


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [40]:
# Exercise 62
def calculate_average(numbers):
    if not numbers:
        return 0  # Avoid division by zero if list is empty
    return sum(numbers) / len(numbers)

# Example usage
nums = [10, 20, 30, 40, 50]
print(calculate_average(nums))

30.0


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [41]:
# Exercise 63
def fibonacci_list(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

print(fibonacci_list(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [42]:
# Exercise 64
from collections import Counter

fruits = ["apple", "banana", "apple", "cherry"]
counts = Counter(fruits)

print(counts)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [43]:
# Exercise 65
def remove_all_occurrences(lst, value):
    return [item for item in lst if item != value]

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2
result = remove_all_occurrences(my_list, value_to_remove)
print(result)

[1, 3, 4, 5]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [44]:
# Exercise 66
def strings_starting_with_vowel(strings):
    vowels = 'aeiouAEIOU'
    return [s for s in strings if s and s[0] in vowels]

words = ["apple", "banana", "orange", "grape", "umbrella", "kiwi"]
print(strings_starting_with_vowel(words))

['apple', 'orange', 'umbrella']


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [45]:
# Exercise 67
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1 & set2
print(intersection)

{3, 4}


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [46]:
# Exercise 68
def flatten(nested_list):
    return [item for sublist in nested_list for item in sublist]

nested = [[1, 2], [3, 4], [5, 6]]
print(flatten(nested))  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [47]:
# Exercise 69
def all_unique(lst):
    return len(lst) == len(set(lst))

my_list = [1, 2, 3, 4, 5]
print(all_unique(my_list))  # Output: True

True
False


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [ ]:
# Exercise 70


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [48]:
# Exercise 71
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [49]:
# Exercise 72
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

# Example usage
text = "Hello, world!"
print(count_vowels(text))

3


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [50]:
# Exercise 73
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

result = [(i, factorial(i)) for i in range(1, 6)]
print(result)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [51]:
# Exercise 74
def merge_dicts(dict_list):
    merged = {}
    for d in dict_list:
        merged.update(d)
    return merged


dicts = [{'a': 1, 'b': 2}, {'c': 3}, {'d': 4, 'e': 5}]
result = merge_dicts(dicts)
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [52]:
# Exercise 75
def is_subset(set1, set2):
    return set1.issubset(set2)

a = {1, 2}
b = {1, 2, 3, 4}
print(is_subset(a, b))  # Output: True

True


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [53]:
# Exercise 76
tuples = [(1, 3), (4, 1), (5, 2), (2, 4)]

sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)

[(4, 1), (5, 2), (1, 3), (2, 4)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [54]:
# Exercise 77
def positive_integers(numbers):
    return [num for num in numbers if num > 0]

nums = [-3, 5, 0, 7, -1, 2]
print(positive_integers(nums))

[5, 7, 2]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [55]:
# Exercise 78
def union_sets(set1, set2):
    return set1.union(set2)

a = {1, 2, 3}
b = {3, 4, 5}
print(union_sets(a, b))

{1, 2, 3, 4, 5}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [56]:
# Exercise 79
def product_of_numbers(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

nums = [2, 3, 4]
print(product_of_numbers(nums))

24


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [57]:
# Exercise 80
chars = ['H', 'e', 'l', 'l', 'o']
result = ''.join(chars)
print(result)

Hello


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [58]:
# Exercise 81
def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    if len(unique_numbers) < 2:
        return None  # No second largest if less than 2 unique numbers
    unique_numbers.sort()
    return unique_numbers[-2]

nums = [4, 1, 7, 7, 3, 9, 2]
print(second_largest(nums))

7


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [59]:
# Exercise 82
def sorted_keys(d):
    return sorted(d.keys())

my_dict = {'b': 2, 'a': 1, 'c': 3}
print(sorted_keys(my_dict))

['a', 'b', 'c']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [60]:
# Exercise 83
def most_common(lst):
    frequency = {}
    for item in lst:
        frequency[item] = frequency.get(item, 0) + 1
    most_common_item = max(frequency, key=frequency.get)
    return most_common_item

my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
print(most_common(my_list))

apple


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [61]:
# Exercise 84
def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

tuples = [(3, 'c'), (1, 'a'), (2, 'b')]
print(sort_by_first_element(tuples))

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [62]:
# Exercise 85
def remove_duplicate_dicts(dicts):
    seen = set()
    unique_dicts = []
    for d in dicts:
        # Convert dict to a tuple of sorted items to make it hashable
        dict_tuple = tuple(sorted(d.items()))
        if dict_tuple not in seen:
            seen.add(dict_tuple)
            unique_dicts.append(d)
    return unique_dicts
dict_list = [
    {'a': 1, 'b': 2},
    {'b': 2, 'a': 1},
    {'a': 3},
    {'a': 1, 'b': 2}
]

result = remove_duplicate_dicts(dict_list)
print(result)

[{'a': 1, 'b': 2}, {'a': 3}]


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [63]:
# Exercise 86
def min_and_max(numbers):
    if not numbers:
        return None, None  # Handle empty list
    return min(numbers), max(numbers)

nums = [4, 1, 7, 3, 9, 2]
print(min_and_max(nums))

(1, 9)


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [64]:
# Exercise 87
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

result = list(zip(list1, list2))
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [65]:
# Exercise 88
def reverse_list(strings):
    return strings[::-1]

my_strings = ["apple", "banana", "cherry"]
print(reverse_list(my_strings))

['cherry', 'banana', 'apple']


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [66]:
# Exercise 89
def sum_odd_numbers(numbers):
    return sum(num for num in numbers if num % 2 != 0)

nums = [1, 2, 3, 4, 5]
print(sum_odd_numbers(nums))

9


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [67]:
# Exercise 90
def is_palindrome(s):
    s = s.lower()  # Optional: ignore case
    return s == s[::-1]

word = "Madam"
print(is_palindrome(word))

True


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [68]:
# Exercise 91
def find_median(numbers):
    sorted_nums = sorted(numbers)
    n = len(sorted_nums)
    mid = n // 2
    
    if n == 0:
        return None  # No median for empty list
    
    if n % 2 == 1:
        return sorted_nums[mid]
    else:
        return (sorted_nums[mid - 1] + sorted_nums[mid]) / 2

nums = [3, 1, 4, 2, 5]
print(find_median(nums))

3


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [69]:
# Exercise 92
def sum_values(dict_list):
    total = {}
    for d in dict_list:
        for key, value in d.items():
            total[key] = total.get(key, 0) + value
    return total
dicts = [
    {'a': 10, 'b': 5},
    {'a': 3, 'b': 7, 'c': 1},
    {'a': 2, 'c': 4}
]

print(sum_values(dicts))

{'a': 15, 'b': 12, 'c': 5}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [70]:
# Exercise 93
def find_mode(numbers):
    frequency = {}
    max_count = 0
    mode = None
    
    for num in numbers:
        frequency[num] = frequency.get(num, 0) + 1
        if frequency[num] > max_count:
            max_count = frequency[num]
            mode = num
    
    return mode

nums = [1, 2, 2, 3, 3, 3, 4]
print(find_mode(nums))  # Output: 3

3


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [71]:
# Exercise 94
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

nums = [1, 2, 3, 4]
print(sum_of_squares(nums))

30


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [72]:
# Exercise 95
result = [(x, x**3) for x in range(1, 6)]
print(result)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [73]:
# Exercise 96
def primes_up_to(n):
    if n < 2:
        return []
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [74]:
# Exercise 97
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

common_keys = set(dict1.keys()) & set(dict2.keys())
print(common_keys)  # Output: {'b', 'c'}

{'c', 'b'}


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [75]:
# Exercise 98
def filter_long_strings(strings):
    return [s for s in strings if len(s) > 5]

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(filter_long_strings(words))

['banana', 'cherry', 'elderberry']


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [76]:
# Exercise 99
def strings_with_lengths(strings):
    return [(s, len(s)) for s in strings]

words = ["apple", "banana", "cherry"]
result = strings_with_lengths(words)
print(result)

[('apple', 5), ('banana', 6), ('cherry', 6)]


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [77]:
# Exercise 100
def sum_dict_values(dicts):
    result = {}
    for d in dicts:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result
dict_list = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}, {'b': 1, 'c': 2}]
print(sum_dict_values(dict_list))

{'a': 4, 'b': 7, 'c': 7}


---