# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

### Exercise 43:
Use variables to store a combination of string concatenation.

```python
# Exercise 43
```

---

### Exercise 44:
Assign an empty list to a variable `empty_list`.

```python
# Exercise 44
```

---

### Exercise 45:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 45
```

---

### Exercise 46:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 46
```

---

### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 47
```

---

### Exercise 48:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 48
```

---

### Exercise 49:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 49
```

---

### Exercise 50:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 50
```

****

# Practical_1: Variables and Assignments answer

# EXERCISE 1

In [2]:
#Declare a variable x and assign it the value 10
x = 10
print (x)

10

# EXERCISE 2

In [4]:
#Assign the value True to a variable called is_valid
is_valid = True
print(is_valid)

True

# EXERCISE 3

In [5]:
#Create a string variable name with the value "Python Programming".
name = "python programming"
print(name)

python programming

# EXERCISE 4

In [6]:
#Assign the result of 5 + 3 to a variable sum_result.
sum_result = 5 + 3
print (sum_result)

8

# EXERCISE 5

In [8]:
#Assign multiple variables in one line: a = 5, b = 10, c = 15.
a, b, c = 5, 10, 15
print (a, b, c)

5 10 15

# EXERCISE 6

In [9]:
#Assign the value of one variable x to another variable y.
x = 20
y = x 
print(y)

20

# EXERCISE 7

In [10]:
#Assign a floating-point number 9.8 to a variable gravity.
gravity = 9.8
print(gravity)

9.8

# EXERCISE 8

In [11]:
#Create a variable country and assign it the string value of your favorite country.
country = "RWANDA"
print(country)

RWANDA

# EXERCISE 9

In [12]:
#Change the value of variable age from 25 to 26 in two separate steps.
age = 25       # Step 1: initial value
age = 26       # Step 2: updated value
print(age)

26

# EXERCISE 10

In [14]:
#Use one variable to store the result of subtracting two numbers 20 - 7.
result = 20 - 7
print(result)

13

# EXERCISE 11

In [20]:
#Assign an integer value and a floating-point value to two different variables.
my_integer = 11
my_float = 4.3
print("Integer:", my_integer)
print("Float:", my_float)

Integer: 11
Float: 4.3

# EXERCISE 12

In [21]:
#Assign a boolean value False to a variable is_completed.
is_completed = False
print(is_completed)

False

# EXERCISE 13

In [22]:
#Swap the values of two variables x and y.
x = 5
y = 10
x, y = y, x
print(x, y)
print(y, x)

10 5
5 10

# EXERCISE 14

In [24]:
#Assign a complex number 3 + 4j to a variable complex_num.
complex_num = 3 + 4j
print(complex_num)

(3+4j)

# EXERCISE 15

In [25]:
#Reassign a variable from an integer to a string.
x = 32
x = "MAY"
print(x)

MAY

# EXERCISE 16

In [26]:
#Create two variables first_name and last_name, and assign them your first and last names.
first_name = "BONNEFETE YVETTE"
last_name = "UWERA"
print(first_name, last_name)

BONNEFETE YVETTE UWERA

# EXERCISE 17

In [27]:
#Create a variable temperature and assign it the value of 35.5.
temperature = 35.5
print(temperature)

35.5

# EXERCISE 18

In [28]:
#Assign the result of the multiplication of two numbers 8 * 6 to a variable product.
product = 8 * 6
print(product)

48

# EXERCISE 19

In [29]:
#Assign a sentence of your choice to a variable sentence.
sentence = "Learning never exhausts the mind."
print(sentence)

Learning never exhausts the mind.

# EXERCISE 20

In [32]:
#Use an assignment to convert a string '50' into an integer variable int_value.
int_value = int('50')
print(int_value)

50

# EXERCISE 21

In [33]:
#Assign the result of dividing 144 by 12 to a variable quotient.
quotient = 144/12
print(quotient)

12.0

# EXERCISE 22

In [34]:
#Assign the remainder of 47 divided by 5 to a variable remainder.
remainder = 47 % 5
print(remainder)

2

# EXERCISE 23

In [35]:
#Create a variable is_student and assign it the value True.
is_student = True
print(is_student)

True

# EXERCISE 24

In [36]:
#Use a variable to store the result of a modulo operation: 45 % 4.
mod_result = 45 % 4
print(mod_result)

1

# EXERCISE 25

In [39]:
#Create a variable pi and assign it the value 3.14159.
pi = 3.14159
print(pi)

3.14159

# EXERCISE 26

In [42]:
#Create two variables length and width, assign them values, and calculate the area of a rectangle.
length = 9
width = 7
area = length * width
print("the area of rectangle is:",area)

the area of rectangle is: 63

# EXERCISE 27

In [43]:
#Assign a negative number to a variable negative_value.
negative_value = -23
print(negative_value)

-23

# EXERCISE 28

In [44]:
#Assign a string containing a special character (e.g., "Hello, World!") to a variable greeting.
greetings = "Hello, World!"
print(greetings)

Hello, World!

# EXERCISE 29

In [45]:
#Create a variable population and assign it a large integer value (in billions).
population = 8197362037
print("world population", population)

world population 8197362037

# EXERCISE 30

In [48]:
#Use a variable to store the result of raising 2 to the power of 8.
power = 2**8
print(power)

256

# EXERCISE 31

In [50]:
#Assign a list of your favorite fruits to a variable fruits.
fruits = ['mango', 'orange','banana','pome','strawberry','pineapple','watermelon']
print(fruits)

['mango', 'orange', 'banana', 'pome', 'strawberry', 'pineapple', 'watermelon']

# EXERCISE 32

In [51]:
#Assign a tuple of three numbers to a variable coordinates.
coordinates = (10, 20, 30)
print(coordinates)

(10, 20, 30)

# EXERCISE 33

In [53]:
#Assign a dictionary with keys name and age to a variable person.
person = {
    "name": "ISIMBI",
    "age": "27"
}
print(person)

{'name': 'ISIMBI', 'age': '27'}

# EXERCISE 34

In [56]:
#Use variables to store the sum of two floating-point numbers.
num1 = 12.034
num2 = 3.1091
total = num1 + num2
print(total)

15.1431

# EXERCISE 35

In [57]:
#Create a variable is_sunny and assign it the result of a comparison 10 > 5.
is_sunny = 10 > 5
print (is_sunny)

True

# EXERCISE 36

In [59]:
#Assign a string and an integer to two different variables, then print both on one line.
x = "Hello we are in"
y = 2025
print (x, y)

Hello we are in 2025

# EXERCISE 37

In [61]:
#Reassign a variable that originally held a number to a boolean value.
x = 11
x = True
print(x)

True

# EXERCISE 38

In [62]:
#Create a variable is_weekend and assign it the result of False.
is_weekend = False
print(is_weekend)

False

# EXERCISE 39

In [64]:
#Assign a multi-line string to a variable description.
description = """This is a multi-line string.
It can span several lines.
Useful for long text blocks or documentation."""
print(description)

This is a multi-line string.
It can span several lines.
Useful for long text blocks or documentation.

# EXERCISE 40

In [65]:
#Use variables to store the result of the absolute value of -25.
value = -25
absolute_value = abs(value)
print(absolute_value)

25

# EXERCISE 41

In [66]:
#Assign the result of a floor division 100 // 6 to a variable floor_div_result.
floor_div_result = 100 // 6
print(floor_div_result)

16

# EXERCISE 42

In [67]:
#Assign the result of adding a floating-point number to an integer to a variable mixed_sum.
mixed_sum = 10 + 3.5
print(mixed_sum)

13.5

# EXERCISE 43

In [70]:
#Use variables to store a combination of string concatenation.
first_name = "IRIZA"
last_name = "Ella"
full_name = first_name + " " + last_name
print(full_name)

IRIZA Ella

# EXERCISE 44

In [71]:
#Assign an empty list to a variable empty_list.
empty_list = []
print(empty_list)

[]

# EXERCISE 45

In [72]:
#Assign a boolean value based on the comparison of two variables a = 10 and b = 15.
a = 11
b = 24
is_a_greater = a > b
print(is_a_greater)

False

# EXERCISE 46

In [73]:
#Assign a long sentence to a variable and count its characters using len().
sentence = "Learning to code is a valuable skill in today's digital world."
character_count = len(sentence)
print(character_count)

62

# EXERCISE 47

In [74]:
#Assign a fractional result 7 / 3 to a variable division_result.
division_result = 7 / 3
print(division_result)

2.3333333333333335

# EXERCISE 48

In [75]:
#Create a variable speed and assign it the value of 100 kilometers per hour.
speed = "100 km/h"
print(speed)

100 km/h

# EXERCISE 49

In [77]:
#Assign a multi-variable equation like y = 3x + 5 where x = 4 to a variable y.
x = 4
y = 3 * x + 5
print(y)

17

# EXERCISE 50

In [78]:
#Use variables to calculate and store the average of three numbers.
num1 = 10
num2 = 20
num3 = 30

average = (num1 + num2 + num3) / 3
print(average)

20.0